<h1>QWTF</h1>
<form [formGroup]="testForm" (submit)="save()">
  <div class="form-group">
    <label >Name</label>
    <input type="text" formControlName="name">
  </div>
  <div formArrayName="address">
    <label>Address</label>
    <div *ngFor="let addr of testForm.controls.address.controls; let i=index;">
        <div>
          <h4>Address {{i+1}}</h4>
          <span *ngIf="testForm.controls.address.controls.length > 1" (click)="removeAddress(i)">X</span>
        </div>
      <div [formGroupName]="i">
        <div>
          <label>Address</label>
          <input type="text" formControlName="place">
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!testForm.valid">Submit</button>
</form>
<button (click)="addAddress()">Add address</button>